<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Dashboard</title>
</head>

<body>
	<ul>
		<form action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>

	</ul>
	<h1>Welcome, <%= user %>!</h1>
	<!-- Display user information -->
	<!-- List of tasks -->
	<% if (tasks.length > 0) { %>
	<h2>Task List</h2>
	<ul>
		<% tasks.forEach((task) => { %>
		<li id="<%= task.id %>">
			<p><%= task.title %> (Status: <%= task.status %>, DueDate: <%= task.dueDate.toISOString().slice(0,10) %> ,
				Priority:
				<%= task.priority %>) </p>
			<div style="display: flex;">
				<form action="/task/update/<%=task.id%>" method="get">
					<button type="submit">Update</button> &nbsp;
				</form>
				<button onClick='deleteHandler("<%= task.id %>")'>Delete</button>
			</div>
		</li>
		<% }); %>
	</ul> <br>
	<% } else {%>
	<h2>No Task</h2>
	<% } %>
	<!-- Add Task Form (if needed) -->
	<h2>Add New Task <a href="/task">Create Task</a></h2>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io()
		function deleteHandler(index) {
			socket.emit('deleteTask', { index })
		}



		socket.on('Deleted', async (data) => {
			location.reload()
			window.alert("Task Deleted Successfully")
		})
	</script>

</body>

</html>